API_GATEWAY_PORT=8080
AUTH_SERVICE_URL=http://localhost:6001
PRODUCT_SERVICE_URL=http://localhost:6003
ORDER_SERVICE_URL=http://localhost:6004
NOTIFICATION_SERVICE_URL=http://localhost:6005
WORKER_SERVICE_URL=http://localhost:6006
PAYMENT_SERVICE_URL=http://localhost:6007
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002
